/* VueList.css */

  .vue-list-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
    
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .post-list {
    list-style: none;
    padding: 0;
  }
  
  .post-item {
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
  }
  
  .post-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .post-content {
    font-size: 16px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .position-right{
    float : right;
    color: #888;
  }

  .new-post-button {
    background-color: #007bff; /* Change to your preferred background color */
    color: #fff; /* Change to your preferred text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .new-post-button:hover {
    background-color: #0056b3; /* Change to your preferred hover background color */
  }